
header {
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    color: #000;
  }
  
  .logo-icon {
    background-color: #6495ED;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
  }
  
  .highlight {
    font-weight: bold;
  }
  
  .academy {
    color: #6495ED;
  }
  
  .nav-links {
    display: flex;
    list-style: none;
    gap: 20px;
    align-items: center;
  }
  
  .nav-links li a {
    text-decoration: none;
    color: #000;
    font-weight: 500;
  }
  
  .waitlist-btn {
    background-color: #6495ED;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
  }
  
  .menu-btn {
    display: none;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
  }
  
  .mobile-menu {
    position: fixed;
    margin-top: 20px;
    right: 0;
    width: 100%;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px 20px 20px;
    border-top: 1px solid #79a1eb;
  }
  
  .mobile-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
  }
  
  .close-btn {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
  }
  
  .mobile-nav-links {
    list-style: none;
    padding: 20px 0;
    display: flex;
        flex-direction: column;
        align-self: flex-start;
  }
  
  .mobile-nav-links li {
    margin: 10px;
    height: 35px;

  }
  
  .mobile-nav-links li a {
    text-decoration: none;
    color: #000;
    font-weight: 500;
    font-size: 18px;
  }
  
  .mobile-waitlist-btn {
    background-color: #6495ED;
    color: white;
    border: none;
    padding: 15px;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    margin-top: auto;
  }
  
  @media (max-width: 768px) {
    .nav-links, .waitlist-btn {
      display: none;
    }
  
    .menu-btn {
      display: block;
    }
  }
