<!-- testimonial.component.html -->
<div class="testimonial-container">
    <div class="testimonial-header">
      <h3 class="testimonial-label">REAL EduRick STORIES</h3>
      <h1 class="testimonial-title">Why Families Love Us</h1>
    </div>
    
    <div class="testimonial-content">
      <div class="testimonial-image-container">
        <div class="testimonial-image">
          <img src="https://img.freepik.com/free-photo/pleased-little-schoolboy-holding-book-points-side-isolated-purple-wall-with-copy-space_141793-75006.jpg" alt="Parent testimonial">
        </div>
      </div>
      
      <div class="testimonial-quote">
        <p class="quote-text">"EduRick empowers us to take our time back. It gives us control of our schedule. It gives us control of us raising our children the way that we want to raise them and for them to succeed in life."</p>
        <div class="quote-author">
          <span class="author-name">Donesha,</span>
          <span class="author-description">Mom and Learning Coach for two 3rd Graders and two 11th Graders + Military Spouse<sup>1</sup></span>
        </div>
      </div>
    </div>
  </div>