<main class="home">
  <app-hero-section></app-hero-section>
  <!-- Why Choose Us Section -->
  <app-nav-cards></app-nav-cards>
  <!-- Programs Section -->
  <section class="programs">
    <div class="container">
      <h2 class="section-title">Our Courses</h2>
      <div class="program-grid" id="courses">
        <app-program-card *ngFor="let program of programs" [program]="program"></app-program-card>
      </div>
    </div>
  </section>
  <app-testmonials></app-testmonials>
  <app-parent-review></app-parent-review>
  <!-- CTA Section -->
  <section class="cta-section">
    <div class="container">
      <h2 class="section-title">The future is tech. Give your child the power to build their future, not just live in it
        with modern, world-class tech & coding skills.</h2>
      <a routerLink="/book-demo" class="cta-button primary">Book Your First Free Class</a>
    </div>
  </section>
</main>