.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 40px;
    background-image: url('https://img.freepik.com/free-photo/child-making-robot_23-2148863405.jpg');
    background-repeat: no-repeat;
    
}
.hero {
    width: 100vw;  /* Full width of the viewport */
    background-size: cover; /* Ensures the image covers the entire div */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents tiling */
}

.badge {
    background-color: #90d7b4;
    padding: 5px 15px;
    border-radius: 15px;
    font-weight: bold;
}
h1 {
    font-weight: bold;
    color: #121212;
    font-size: 2.25rem;
}
.content{
    text-align: left;
    padding: 20px;
/* From https://css.glass */
background: rgba(255, 255, 255, 0.43);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(3.7px);
-webkit-backdrop-filter: blur(3.7px);
border: 1px solid rgba(255, 255, 255, 0.3);
}
.highlight {
    color: #6b82ff;
}
p {
    margin-top: 20px;
    max-width: 600px;
    font-size: 1rem;
    --tw-text-opacity: 1;
    color: rgb(75 85 99 / var(--tw-text-opacity));
}
.buttons {
    margin: 20px 0;
}
.primary-btn, .secondary-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
}
.primary-btn {
    background-color: #6b82ff;
    color: white;
    margin-right: 10px;
}
.secondary-btn {
    background-color: white;
    border: 1px solid #6b82ff;
    color: #6b82ff;
}
.adopters {
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.avatars {
    display: flex;
}
.circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #ccc;
    margin-right: -10px;
}
.info {
    font-size: 0.9rem;
    color: #6b82ff;
}
.visual {
    position: relative;
    margin-top: 40px;
}
.big-card {
    width: 350px;
    height: 250px;
    background: #c7e3db;
    border-radius: 15px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);

    img{
        width: 350px;
        height: 250px;
    }
}
.tag {
    position: absolute;
    background: white;
    padding: 10px;
    border-radius: 10px;
    font-size: 0.9rem;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}
.top-rated {
    bottom: -20px;
    left: 20px;
}
.courses {
    top: -20px;
    right: 20px;
}
@media (min-width: 768px) {
    .hero {
        flex-direction: row;
        text-align: left;
        justify-content: space-between;
        padding: 80px;
        min-height: 500px;
        h1 {
            font-size: 3.75rem;
            line-height: 1;
        }
    }
    .content {
        max-width: 75%;
        padding: 30px;
    }
    .visual {
        margin-top: 0;
    }
    .big-card {
        width: 450px;
        height: 300px;

        img{
            width: 450px;
            height: 300px;
        }
    }
}