<section class="hero">
    <div class="content">
        <h1>Transform Your <span class="highlight">STEM</span> Learning Journey</h1>
        <p>Join our innovative platform designed to make learning coding, robotics, and data science easy and fun for students of all ages.</p>
        <div class="buttons">
            <button class="primary-btn">Join Our Classes</button>
            <!-- <button class="secondary-btn">Learn More ▼</button> -->
        </div>
    </div>
    <!-- <div class="visual" style="display: none;">
        <div class="big-card">
           <img src="https://img.freepik.com/free-photo/child-making-robot_23-2148863405.jpg">
        </div>
        <div class="tag top-rated">✅ Top Rated <br> Learning Platform</div>
        <div class="tag courses">➕ 30+ Courses <br> Coming Soon</div>
    </div> -->
</section>