<div class="faq-container">
    <h1 class="faq-title">What Parents Want to Know About Online School</h1>
    
    <div class="faq-list">
      <div class="faq-item" *ngFor="let item of faqItems; let i = index">
        <div class="faq-question" (click)="toggleFaq(i)">
          <span>{{ item.question }}</span>
          <span class="toggle-icon">{{ item.isOpen ? '−' : '+' }}</span>
        </div>
        <div class="faq-answer" [ngClass]="{'open': item.isOpen}">
          <p>{{ item.answer }}</p>
        </div>
      </div>
    </div>
  
    <button class="learn-more-btn">
      Learn More <span class="book-icon">📖</span>
    </button>
  </div>